q-download/Service References/ServiceReference1/DataLibs2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StrategyStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="dAverageLosingPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="dAverageWinningPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="dMaxLosingPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="dMaxWinningPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="dWinningPercentagePerTrade" type="xs:double" />
      <xs:element minOccurs="0" name="iTotalLosingTrade" type="xs:int" />
      <xs:element minOccurs="0" name="iTotalTrade" type="xs:int" />
      <xs:element minOccurs="0" name="iTotalWinningTrade" type="xs:int" />
      <xs:element minOccurs="0" name="sStockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeframe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StrategyStatistics" nillable="true" type="tns:StrategyStatistics" />
</xs:schema>